<html>
  <head>
    <script src="/elm.js"></script>
  </head>

  <body>
    <h1>hi!</h1>
    <div id="elm-container"></div>
    <script type="text/javascript">
      var div = document.getElementById('elm-container');
      var client = Elm.embed(Elm.RobosolverClient, div);

      // Reset the number of stamps in the Elm code.
      // The value we send does not matter, we just
      // need the event.
      //function resetStamps() {
      //  stamps.ports.reset.send([]);
      //}
      // Always show the latest count of stamps, which is exported
      // from the Stamps module as the 'count' event stream.
      //var currentCount = document.getElementById('current-count'),
      //    totalCount   = document.getElementById('total-count'),
      //    total        = 0;
      //
      //stamps.ports.count.subscribe(function(count) {
      //    currentCount.innerHTML = count;
      //    if (count > 0) {
      //        total += 1;
      //        totalCount.innerHTML = total;
      //    }
      //});
    </script>
  </body>
</html>
