<html>
  <head>
    <script src="/elm.js"></script>
  </head>

  <body>
    <h1>RoboSolver</h1>
    <div id="elm-container"></div>
    <script type="text/javascript">
      var div = document.getElementById('elm-container');
      var initialModel = { board: [[]],
                           activeCells: [],
                           isClicking: false }

      var inits = { loadModel: JSON.stringify(initialModel) }

      var client = Elm.embed(Elm.RobosolverClient, div, inits);

      // Reset the number of stamps in the Elm code.
      // The value we send does not matter, we just
      // need the event.
      //function resetStamps() {
      //  stamps.ports.reset.send([]);
      //}
      // Always show the latest count of stamps, which is exported
      // from the Stamps module as the 'count' event stream.
      //var currentCount = document.getElementById('current-count'),
      //    totalCount   = document.getElementById('total-count'),
      //    total        = 0;
      //
      client.ports.saveModel.subscribe(function(msg) {
        modelString = msg[0];
        doSave = msg[1];
        if(doSave){
          console.log("saving");
          localStorage.setItem('model-key', modelString);
        }
      });

      client.ports.fetchModel.subscribe(function(doFetch) {
        if(doFetch){
          var model = localStorage.getItem('model-key');
          console.log("setting model", JSON.parse(model))
          client.ports.loadModel.send(model);
        }
      });
    </script>
  </body>
</html>
