<html>
  <head>
    <script src="/elm.js"></script>
  </head>

  <body>
    <h1>RoboSolver</h1>
    <div id="elm-container"></div>
    <script type="text/javascript">
      var div = document.getElementById('elm-container');
      var aCell = {}
      aCell = [{name:"c",x:1,y:1,note:"",color:"",symbol:""}]
      var initRobit = [{"color":"yellow","coords":[8,8]}]
      var initialModel = { board: {maxx: 16, maxy: 16, cells: aCell, walls: [[1,1,2,1]], robits: initRobit},
                           activeCells: [],
                           isClicking: false }

      var inits = { loadModel: [1, JSON.stringify(initialModel)] }

      var client = Elm.embed(Elm.RobosolverClient, div, inits);

      // Reset the number of stamps in the Elm code.
      // The value we send does not matter, we just
      // need the event.
      //function resetStamps() {
      //  stamps.ports.reset.send([]);
      //}
      // Always show the latest count of stamps, which is exported
      // from the Stamps module as the 'count' event stream.
      //var currentCount = document.getElementById('current-count'),
      //    totalCount   = document.getElementById('total-count'),
      //    total        = 0;
      //
      client.ports.saveModel.subscribe(function(msg) {
        modelString = msg[0];
        doSave = msg[1];
        if(doSave){
          console.log("saving");
          localStorage.setItem('model-key', modelString);
        }
      });

      client.ports.fetchModel.subscribe(function(action) {
        if(action == "FetchModel"){
          var model = localStorage.getItem('model-key');
          console.log("setting model", JSON.parse(model))
          client.ports.loadModel.send([1, model]);
        }
        else if (action == "FetchBasicModel") {
          var request = new XMLHttpRequest();
          request.open('GET', '/base_board.json', true);

          request.onload = function() {
            if (request.status >= 200 && request.status < 400) {
              console.log("sending baseboard to client")
              var resp = request.responseText;
              client.ports.loadModel.send([0, resp]);
            } else {
              console.log("error fetching baseboard", request)
            }
          };

          request.onerror = function() {
              console.log("error connecting maybe?", args)
          };

          request.send();
        }
      });
    </script>
  </body>
</html>
